{% extends 'header.html' %}
{%block content%}
<div class="container">
	<div class="container">
	{%for mascota in mascotaslist%}

<a href="{% url 'mascotadetail' mascota.id %}"><h3>Nombre: {{mascota.nombre}}</h3></a>

<h5>Edad: {{mascota.edad_aproximada}}</h5>
<h5>Sexo: {{mascota.sexo}}</h5>
<h5>Fecha rescate: {{mascota.fecha_rescate}}</h5>

{% if mascota.persona == None %}
<h5>Persona: Sin Dueño</h5>


{% else %}

<h5>Persona: {{mascota.persona}} {{mascota.persona.apellidos}}</h5>
<h6><a href="{% url 'personadetail' mascota.persona.id  %}">Ver Persona</a><br></h6>
<h6><a href="{% url 'personadetail' mascota.persona.id  %}">Borrar Mascota</a><br></h6>


{% endif %}
<span>**********************************************</span>

{%endfor%}
</div>
</div>
{%endblock%}
</body>
</html>