{% extends 'header.html' %}
{%block content%}

<div class="container">
<!--<a href="{% url 'logout' %}">Salir</a>-->
	<h1>Padrinos</h1>

<div class="container">
<div class="">
    <p><h6><a href="{% url 'personacreate'%}">Nuevo Padrino</a></h6></p>
    *********************************
	<div class="col-12">
		
	
{% for persona in personas %}

    <h3> {{persona.nombre}} {{persona.apellidos}}<br></h3>
    
    <h6>Edad: {{persona.edad}}<br></h6>
    <h6>Domicilio: {{persona.domicilio}}<br></h6>
    <br>
    <a href="{% url 'personaupdate' persona.id %}">Modificar Datos</a><span> / </span>
    <a href="{% url 'personaupdate' persona.id %}">Eliminar Registro</a>

    <br>
    *****************************************<br>


    {%endfor%}

</div></div></div>
{%endblock%}
</body>
</html>